POSTGRES_DB=builders
POSTGRES_USER=builders
POSTGRES_PASSWORD=builders123
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/builders
SPRING_DATASOURCE_USERNAME=builders
SPRING_DATASOURCE_PASSWORD=builders123
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_OPEN_IN_VIEW=false
SERVER_PORT=8080
